<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>People List</title>
</head>
<body>
    <h1>People Manager</h1>
    <form id="addPersonForm">
        Name: <input type="text" id="name">
        Age: <input type="number" id="age">
        <button type="submit">Add Person</button>
    </form>
    <h1>People List</h1>
    <ul id="peopleList">
    </ul>
    <script src="script.js"></script>
</body>
</html>
